<%- include('header')-%>
<div class="box">
    <h1 class="about">About Me</h1>
    <p>My name is Kristina Carlsen. I'm a web developer in Arizona. Coding is like putting together an Internet puzzle.
    </p>
</div>
<%- include('footer')-%>