<footer>
    <a href="https://www.linkedin.com/in/kristina-carlsen/" target="_blank"><img src="images/linkedinIcon.png"
            alt=""></a>
    <a href="https://github.com/kristinacarlsen" target="_blank"><img src="images/githubIcon.png" alt=""></a>
</footer>

</body>

</html>